includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
        - tests
    ignoreErrors:
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::#'
    excludePaths:
        - vendor
        - node_modules
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
